{% extends 'base.html.twig' %}

{% block title %}Lessons{% endblock %}

{% block body %}
    <h1>Lessons</h1>

    {% if lessons is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Max Persons</th>
                    <th>Training</th>
                    <th>Instructor</th>
                    {% if not app.user is not null or 'ROLE_INSTRUCTOR' not in app.user.roles %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.time|date('H:i') }}</td>
                        <td>{{ lesson.date|date('Y-m-d') }}</td>
                        <td>{{ lesson.location }}</td>
                        <td>{{ lesson.maxPersons }}</td>
                        <td>{{ lesson.training.name }}</td>
                        <td>{{ lesson.user.firstname }} {{ lesson.user.lastname }}</td>
                        {% if not app.user is not null or 'ROLE_INSTRUCTOR' not in app.user.roles %}
                            <td>
                                {% set userJoined = false %}
                                {% for registration in lesson.getRegistration() %}
                                    {% if registration.getUser() == app.user %}
                                        {% set userJoined = true %}
                                    {% endif %}
                                {% endfor %}

                                {% if userJoined %}
                                    <a href="{{ path('app_member_leave_lesson', { id: lesson.id }) }}" class="nav-item nav-link">
                                        <button type="submit" class="btn btn-danger">Leave</button>
                                    </a>
                                {% else %}
                                    <a href="{{ path('app_join_lesson', { id: lesson.id }) }}" class="nav-item nav-link">
                                        <button type="submit" class="btn btn-primary">Join</button>
                                    </a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                    {% if 'ROLE_INSTRUCTOR' in app.user.roles %}
                        <tr>
                            <td colspan="6">
                                <strong>Joined Members:</strong>
                                {% for registration in lesson.getRegistration() %}
                                    {{ registration.getUser().firstname }} {{ registration.getUser().lastname }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No lessons available.</p>
    {% endif %}
{% endblock %}
